apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: towerfall
  labels:
    app: backend
spec:
  type: ClusterIP
  ports:
    - port: 4000
      targetPort: 4000
      protocol: TCP
      name: http
  selector:
    app: backend
