apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: towerfall
  labels:
    app: frontend
spec:
  type: ClusterIP
  ports:
    - port: 4001
      targetPort: 4001
      protocol: TCP
      name: http
  selector:
    app: frontend
