name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  test:
    uses: ./.github/workflows/test.yml

  integration:
    uses: ./.github/workflows/integration.yml
    needs: [lint, test]
